<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} | 4MB Game Jam</title>

    {% block seo %} {% endblock seo %}    

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/css/markdown-light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="/css/markdown-dark.css" media="(prefers-color-scheme: dark)">    
    <link rel="stylesheet" href="/css/base.css">
    {% block head %} {% endblock head %}
</head>

<body>
    <div class="container">
        <header>
            <a href="/">
                <img src="/img/logo.png" alt="4MB Game Jam Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/winners">
                            Winners
                        </a>
                    </li>
                    <li>
                        <a href="/rules">
                            Rules
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            About
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <article class="markdown-body">
            {% block content %} {% endblock content %}            
        </article>

        <footer>
            <div class="footer-links-left">
                <h3>4MB Game Jam</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
            <div class="footer-links-right">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-social-copyright">
                <div class="social-links">
                    <a href="https://discord.gg/ge3YuJheBY">Discord</a>
                    <a href="https://mastodon.social/@4mbjam">Mastodon</a>
                </div>
                <p>&copy; 2025 4MB Game Jam. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    
    {% set url = config.base_url %}
    {% set hostname = url | replace(from="http://", to="") | replace(from="https://", to="") | split(pat=":") | first | split(pat="/") | first %}
    <script>window.LiveReloadOptions = { https: true, host: '{{ hostname | safe }}', port: 443, };</script>
</body>
</html>